In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("dataset_with_amenities_splited.csv",low_memory=False)
print(df.describe())

         Unnamed: 0  Unnamed: 0.1
count  29682.000000  29682.000000
mean   14840.500000  18133.104002
std     8568.599681  10356.416142
min        0.000000      0.000000
25%     7420.250000   9458.250000
50%    14840.500000  17501.500000
75%    22260.750000  27904.500000
max    29681.000000  37455.000000

In [2]:
print(df.columns)

Index(['Unnamed: 0', 'Unnamed: 0.1', '_type', 'additionalrooms', 'age',
       'amenitiesavailable', 'amenitiesnot', 'area', 'balconies', 'bathroom',
       'bhk', 'carpetarea', 'facing', 'floor', 'locality', 'neworold',
       'opensides', 'overlooking', 'ownership', 'possesiondate', 'price',
       'pricepersquare', 'projectname', 'roadfaceing', 'status', 'totalfloor',
       'Lift Available', 'Car Parking', 'Power Backup', '24 X 7 Security',
       'Children's play area', 'Vaastu Compliant', 'Club House', 'Gymnasium',
       'Swimming Pool', 'Sports Facility', 'Indoor Games', 'Jogging Track',
       'Maintenance Staff', 'Intercom', 'Golf Course', 'Cafeteria',
       'Rain Water Harvesting', 'Staff Quarter', 'Multipurpose Room',
       'Landscaped Gardens', 'Shopping Mall', 'School', 'Hospital', 'ATM',
       'AC', 'Wardrobe', 'TV', 'Refrigerator', 'Sofa', 'Washing Machine',
       'Wifi', 'Microwave', 'Dining Table', 'Gas connection', 'BED'],
      dtype='object')

In [3]:
print(len(df.columns))

61

In [38]:
# removing a header from list of row

In [4]:
types = df.dtypes
print(types)

Unnamed: 0                int64
Unnamed: 0.1              int64
_type                    object
additionalrooms          object
age                      object
amenitiesavailable       object
amenitiesnot             object
area                     object
balconies                object
bathroom                 object
bhk                      object
carpetarea               object
facing                   object
floor                    object
locality                 object
neworold                 object
opensides                object
overlooking              object
ownership                object
possesiondate            object
price                    object
pricepersquare           object
projectname              object
roadfaceing              object
status                   object
totalfloor               object
Lift Available           object
Car Parking              object
Power Backup             object
24 X 7 Security          object
                          ...
Vaastu Compliant         object
Club House               object
Gymnasium                object
Swimming Pool            object
Sports Facility          object
Indoor Games             object
Jogging Track            object
Maintenance Staff        object
Intercom                 object
Golf Course              object
Cafeteria                object
Rain Water Harvesting    object
Staff Quarter            object
Multipurpose Room        object
Landscaped Gardens       object
Shopping Mall            object
School                   object
Hospital                 object
ATM                      object
AC                       object
Wardrobe                 object
TV                       object
Refrigerator             object
Sofa                     object
Washing Machine          object
Wifi                     object
Microwave                object
Dining Table             object
Gas connection           object
BED                      object
Length: 61, dtype: object

In [5]:
print(df['additionalrooms'].describe())

count                      7318
unique                        8
top       1 rooms( pooja room )
freq                       2551
Name: additionalrooms, dtype: object

In [6]:
#done
print(df['additionalrooms'].unique())        # take away : here replace Nan with 0 rooms

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['additionalrooms'] is pd.np.nan:
        df.set_value(counter,'additionalrooms',str(0))   #null
    counter += 1

[nan '3 rooms( study room, servant room, pooja room )'
 '2 rooms( study room, pooja room )' '1 rooms( pooja room )'
 '1 rooms( servant room )' '1 rooms( study room )'
 '2 rooms( study room, servant room )'
 '2 rooms( servant room, pooja room )' 'additionalrooms']

In [7]:

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['additionalrooms'] == 'additionalrooms':
        df.drop(counter)
        print('hee')
    counter += 1
print(df['additionalrooms'].unique()) 
df['additionalrooms'].astype(str)

hee
['0' '3 rooms( study room, servant room, pooja room )'
 '2 rooms( study room, pooja room )' '1 rooms( pooja room )'
 '1 rooms( servant room )' '1 rooms( study room )'
 '2 rooms( study room, servant room )'
 '2 rooms( servant room, pooja room )' 'additionalrooms']

0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
5                                                      0
6                                                      0
7                                                      0
8        3 rooms( study room, servant room, pooja room )
9                                                      0
10                                                     0
11                                                     0
12                     2 rooms( study room, pooja room )
13       3 rooms( study room, servant room, pooja room )
14                                                     0
15                                                     0
16                                                     0
17                                                     0
18                                                     0
19                                                     0
20                                                     0
21                                                     0
22                                                     0
23                                                     0
24                                                     0
25                                                     0
26                                                     0
27                                                     0
28                                                     0
29                                                     0
                              ...
29652                                                  0
29653                                                  0
29654                2 rooms( servant room, pooja room )
29655                2 rooms( servant room, pooja room )
29656                              1 rooms( pooja room )
29657                2 rooms( servant room, pooja room )
29658                              1 rooms( pooja room )
29659                              1 rooms( pooja room )
29660                2 rooms( servant room, pooja room )
29661                              1 rooms( pooja room )
29662                              1 rooms( pooja room )
29663                              1 rooms( pooja room )
29664                              1 rooms( pooja room )
29665                              1 rooms( pooja room )
29666                2 rooms( servant room, pooja room )
29667                              1 rooms( pooja room )
29668                              1 rooms( pooja room )
29669                2 rooms( servant room, pooja room )
29670                                                  0
29671                                                  0
29672                                                  0
29673                                                  0
29674                                                  0
29675                                                  0
29676                                                  0
29677                                                  0
29678                                                  0
29679                                                  0
29680                                                  0
29681                                                  0
Name: additionalrooms, Length: 29682, dtype: object

In [8]:
#done
print(df['age'].describe())               # take away : here replace Nan with 0 years
print("\n")
print(df['age'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['age'] is pd.np.nan:
        df.set_value(counter,'age','0 years') 
    counter += 1
# normalize in 5 interval like 0 to 5   after 10 years

count           22469
unique             69
top       6 - 7 years
freq             2889
Name: age, dtype: object


['2 - 3 years' '0 - 1 year' '1 - 2 years' nan '6 - 7 years' '2 years'
 '3 - 4 years' '10 - 11 years' '7 - 8 years' '4 - 5 years' '5 - 6 years'
 '12 - 13 years' '11 - 12 years' '1 year' '17 years' '6 years' '12 years'
 '7 years' '20 years' '20 - 21 years' '9 - 10 years' '13 - 14 years'
 '19 - 20 years' '14 - 15 years' '15 years' '17 - 18 years' '8 - 9 years'
 '19 years' '25 years' '30 years' '3 years' '18 - 19 years' '26 - 27 years'
 '11 years' '21 - 22 years' '16 - 17 years' '15 - 16 years' '30 - 31 years'
 '28 - 29 years' '5 years' '4 years' '9 years' 'age' '10 years' '8 years'
 '13 years' '22 - 23 years' '18 years' '21 years' '22 years' '14 years'
 '16 years' '27 - 28 years' '28 years' '24 - 25 years' '25 - 26 years'
 '40 years' '37 - 38 years' '35 - 36 years' '35 years' '41 - 42 years'
 '29 - 30 years' '27 years' '31 - 32 years' '42 years' '33 - 34 years'
 '23 years' '32 - 33 years' '26 years' '23 - 24 years']

In [9]:
#done
print(df['area'].describe())          # take away : here replace Nan with  dropna or 1000
print("\n")
print(df['area'].unique())
counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['area'] is pd.np.nan:
        df.set_value(counter,'area',-9999) 
    counter += 1
#print(df['area'])

count           29668
unique           2380
top       1,000 sq ft
freq              539
Name: area, dtype: object


['1,611 sq ft' '1,279 sq ft' '670 sq ft' ..., '5,898 sq ft' '2,776 sq ft'
 '362 sq ft']

In [10]:
#done
print(df['balconies'].describe())     # take away : here replace Nan with 0
print("\n")
print(df['balconies'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['balconies'] is pd.np.nan:
        df.set_value(counter,'balconies',0) 
    #df.iloc[counter]['balconies'] = int(df.iloc[counter]['balconies'])
    counter += 1
#print(df['balconies'])

count     17726
unique        9
top           1
freq       7632
Name: balconies, dtype: object


['2' nan '1' '3' '4' 'balconies' '6' '5' '8' '7']

In [11]:
#done
print(df['bathroom'].describe())         # take away : here replace Nan with 1 bath
print("\n")
print(df['bathroom'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['bathroom'] is pd.np.nan:
        df.set_value(counter,'bathroom',1) 
    counter += 1
#print(df['bathroom'])

count     27827
unique       10
top           2
freq      10853
Name: bathroom, dtype: object


['3' '2' '1' '5' nan '4' '6' 'bathroom' '8' '7' '9']

In [12]:
# numeric or binary encoding                # Ask saurabh
print(df['bhk'].describe())                     #All present
print("\n")
print(df['bhk'].unique())
#Drop  Residential Plot ,'0 BHK Villa '   ********************************

count                29681
unique                  40
top       2 BHK Apartment
freq                 10871
Name: bhk, dtype: object


['3 BHK Apartment ' '2 BHK Apartment ' '1 BHK Apartment '
 '4 BHK Apartment ' ' Residential Plot ' '1 RK Apartment ' '3 BHK Villa '
 '5 BHK Villa ' '4 BHK Independent House ' '4 BHK Villa '
 '2 BHK Independent House ' '3 BHK Independent House '
 '3 BHK Independent Floor ' '1 BHK Villa ' '4 BHK penthouse '
 '3 BHK penthouse ' '5 BHK Apartment ' '1 BHK Independent Floor '
 '2 BHK penthouse ' '2 BHK Villa ' '2 BHK Independent Floor ' 'bhk'
 '8 BHK Villa ' '6 BHK Apartment ' '5 BHK Independent House '
 '1 BHK Independent House ' '1 BHK studio apartment ' '0 BHK Villa '
 '5 BHK penthouse ' '1 RK Independent House ' '6 BHK Villa '
 '6 BHK penthouse ' '5 BHK Independent Floor ' '4 BHK Independent Floor '
 '3 BHK Other Residential ' '6 BHK Independent Floor '
 '1 RK Independent Floor ' '7 BHK Independent House '
 '4 BHK Other Residential ' nan '7 BHK Apartment ']

In [13]:
#still not replace nan values
print(df['carpetarea'].describe())              # take away : here replace Nan with area - 10% of area
print("\n")
print(df['carpetarea'].unique())

#counter = 0
#for row in df.itertuples():                 
#    if  df.iloc[counter]['carpetarea'] is pd.np.nan:
#        df.set_value(counter,'carpetarea', df.iloc[counter]['area'] - (0.1 *  df.iloc[counter]['area'])) 
#    counter += 1
#print(df['carpetarea'])

count          6548
unique         1232
top       900 sq ft
freq            113
Name: carpetarea, dtype: object


['1209 sq ft' nan '615 sq ft' ..., '3630 sq ft' '1316 sq ft' '2804 sq ft']

In [14]:
#category  one hot encoding or binary
print(df['facing'].describe())               # take away : here replace Nan with Random
print("\n")
print(df['facing'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['facing'] is pd.np.nan:
        df.set_value(counter,'facing','Random') 
    counter += 1
#print(df['facing'])

count     24751
unique        9
top        East
freq      16513
Name: facing, dtype: object


['West' 'NorthEast' 'East' 'NorthWest' nan 'North' 'South' 'SouthEast'
 'facing' 'SouthWest']

In [15]:
print(df['floor'].describe())             # take away : here replace Nan with 0
print("\n")
print(df['floor'].unique())

counter = 0
for row in df.itertuples():
    if df.iloc[counter]['totalfloor'] == 'Gr':
        df.set_value(counter,'totalfloor','0')       # 0 - Gr
    if  df.iloc[counter]['floor'] is pd.np.nan:
        df.set_value(counter,'floor',0) 
    counter += 1
#print(df['floor'])

count     25702
unique       56
top         3,
freq       2315
Name: floor, dtype: object


['3, ' '1' '6, ' '2, ' '4, ' '1, ' '12, ' '14, ' nan '7, ' '10, ' '8, '
 '9, ' '11, ' '5, ' '16, ' '18, ' 'Gr ' '20, ' 'Gr' '6' '7' '5' '2' '3' '4'
 '9' '10' '13, ' '21, ' '22, ' '24, ' '25, ' '14' '8' '12' '11' 'floor'
 '15, ' '17, ' '19, ' '23, ' '18' '34, ' '13' '27, ' '17' '32, ' '15' '20'
 '31, ' '30, ' '16' '30' '19' '34' '26, ']

In [16]:
# encode using binary
print(df['locality'].describe())         #All present  
print("\n")
print(df['locality'].unique())
# pincode change required   ******************************************

count       29681
unique        503
top       Kharadi
freq         4327
Name: locality, dtype: object


['Deccan Gymkhana' 'Kharadi' 'Sus' 'Bavdhan' 'Mundhwa' 'Viman Nagar'
 'Baner' 'Law collage Road' 'Mahalunge' 'Bhukum' 'Hinjewadi' 'Hadapsar'
 'Hadapsar Gaon' 'Sasane Nagar' 'NIBM Annex Mohammadwadi' 'Salunke Vihar'
 'NIBM' 'Wagholi' 'Pimpri' 'Kondhwa' 'Undri' 'Bibwewadi' 'Manjari'
 'Uday Baug' 'Ganesh Nagar' 'Kale Padal' 'Baner Pashan Link Road'
 'Model Colony' 'Bhawani Peth' 'Erandwane' 'Kothrud' 'Wanowrie' 'Wakad'
 'Balewadi High Street' 'Prabhat Road' 'Pashan' 'Ghole Road' 'Moshi'
 'Bhugaon' 'Shivaji Nagar' 'Karve Nagar' 'Senapati Bapat Road' 'Rahatani'
 'Bopodi' 'Balewadi' 'Fergusson College Road' 'Bhandarkar Road' 'NIBM Road'
 'Pimple Saudagar' 'Ravet' 'Talegaon Dabhade' 'Sahakar Nagar II'
 'Koregaon Park' 'Nere' 'Pisoli' 'Bhoslenagar' 'NIBM Annexe' 'Akurdi'
 'Aundh Gaon' 'Kalyani Nagar' 'Wadgaon Sheri' 'Aundh' 'Veerbhadra Nagar'
 'Mulshi' 'Magarpatta' 'Vishrantwadi' 'Sanewadi' 'Phursungi'
 'Pimple Nilakh' 'Keshav Nagar' 'Aundh Annexe' 'Kondwa khurd road'
 'Mahadev Nagar' 'Uruli Devachi' 'Baif Road' 'Jejuri' 'Katraj'
 'Khed Shivapur' 'Bhor' 'Handewadi Road' 'Uruli Kanchan' 'Chandkhed' 'Loni'
 'Mayureshwar' 'Saswad' 'wadebolhai' 'Varale' 'Mahabaleshwar'
 'Lonavala Road' 'Loni Kalbhor' 'Wakad road' 'Wanwadi' 'VIT College Road'
 'Dhanori Road' 'Vadgaon Sheri' 'Kedagaon' 'Baramati' 'Fatima Nagar'
 'Sopan Baug' 'ITI road' 'bhekarai nagar' 'Handewadi' 'Camp'
 'Bhusari colony left' 'Lulla Nagar' 'Anand Park' 'Dhayari' 'Warje'
 'Ranjangaon' 'Bhusari colony right' 'Bhosle Nagar' 'Ashok Nagar'
 'Tathawade' 'Magarpatta Road' 'Salisbury Park' 'Parihar Chowk' 'Gahunje'
 'Baner Road' 'Kondhwa Budruk' 'Ambedkar Nagar' 'Mohamadwadi'
 'Kothrud Depot Road' 'Boat Club Road' 'Chinchwad' 'Happy Colony Lane'
 'Talegaon' 'Badhan Nagar' 'Ambegaon Budruk' 'Thergaon' 'locality'
 'Yerawada' 'Sangamvadi' 'Kirkatwadi' 'Lohegaon' 'Bund Garden'
 'Dhanukar Colony' 'Pimple Gurav' 'Sus Gaon' 'Dhole Patil Road'
 'Pune Solapur Road' 'Old Sanghvi' 'Shastri Nagar' 'Sadashiv Peth'
 'Dhanori' 'Kalyani Nagar Annexe' 'Shewalewadi' 'Morewadi' 'Airport Road'
 'Chikhali' 'Punawale' 'Bhumkar Nagar' 'Wakadkar Wasti' 'Kaspate Vasti'
 'Bhujbal Vasti' 'Rasikwadi' 'Tingre Nagar' 'pimprigaon' 'New Sanghvi'
 'Pancard Club Road' 'Mamurdi' 'Sholapur Road' 'Maval' 'Ubale Nagar'
 'Narhe' 'Hadapsar Fursungi Road' 'Kalewadi Main' 'Nigdi'
 'Dhayari Ganesh Nagar' 'Siddharth nagar' 'Dhayari Phata' 'Pashan Sus Road'
 'Loni Raiway Station Road' 'Bakori Road' 'Pune Mumbai Highway'
 'PuneSolapur Highway' 'Ambegaon Bk' 'Manik Baug' 'Panchgani Wai Road'
 'Bhau Patil Road' 'Kirti Nagar' 'Shankar Kalat Nagar'
 'bavdhan patil nagar' 'bhusari colony' 'Bhosari' 'katraj kondhwa road'
 'Vadgaon Budruk' 'Undri Hadapsar Road' 'Parvati'
 'Moshi Pradhikaran PimpriChinchwad' 'Warje Malwadi' 'Tanaji Nagar'
 'Bibwewadi Kondhwa Road' 'Pirangut' 'Manjari Budruk' 'Shikrapur'
 'Nasrapur' 'Pune Satara Road' 'Charholi Budruk' 'Giridhar Nagar' 'Chakan'
 'Pune Mumbai Expressway' 'Sinhgad Road' 'Narhe Gaon' 'Saswad Road'
 'Kasarwadi' 'Gokul Nagar' 'Marunji' 'Karve Road' 'Talegaon Dhamdhere'
 'Manchar' 'Koregaon Park Annexe' 'Lohegaon Road'
 'Jejuri Saswad Hadapsar Road' 'Market yard' 'Nandel Fata Pune'
 'Aundh Baner Link Road' 'Alandi' 'Marunji Road' 'Kharabwadi'
 'Nanded City Sinhgad Road' 'Deep Bunglow chawk' 'Shivapur' 'Jambhul'
 'Mayur Colony' 'Tukaram Nagar' 'Mumbai Pune Highway' 'Malwadi Hadapsar'
 'Kiwale' 'DhanoriLohegaon Road' 'Parvati Darshan'
 'Hadapsar Handewadi road' 'Ambegaon Khurd' 'Hinjewadi Marunji Road'
 'hingne Khurd' 'EON Free Zone' 'Balaji Nagar' 'Bhavani Peth'
 'Sahakar Nagar' 'Dighi' 'Koregaon Bhima' 'Manik Bagh' 'sinhagad road'
 'Sector No1 Bhosari' 'Lonikand' 'Parkhe Vasti' 'Dehu Road' 'Kalewadi'
 'Ambe Gaon' 'Kasarsai' 'Kanhe' 'NDA Pashan Road' 'Tulaja Bhawani Nagar'
 'Pragati Nagar' 'kesnand' 'Pune Mumbai Road' 'Guru Nanak Nagar'
 'Kudale Baug' 'Baner Balewadi road' 'Dehu' 'Nilgiri Lane' 'Bakhori'
 'Gajanan Nagar' 'Kondhawe Dhawade' 'Indrayani Nagar Sector 2' 'Sanaswadi'
 'Shivane' 'Balewadi Road' 'Aditya Birla Hospital Marg' 'BT Kawde'
 'Panshet Ghol Road' 'Rasta Peth' 'bibvewadi' 'Ghodegaon'
 'Jambhulwadi Road' 'Someshwarwadi' 'Benkar Nagar' 'Somatane Phata'
 'Kondhwa Khurd' 'Panshet' 'DY Patil Road' 'Yewalewadi' 'Porwal Road'
 'Paud Rd' 'Pune Nagar Road' 'Shahunagar' 'BT Kawade Road' 'Khandala'
 'Pune Pandharpur Road' 'Moraya Ganapati Mandir Road' 'Shiv Colony'
 'Satara road' 'Medankarwadi' 'Manjri Village Road' 'khamboli'
 'charholi Khurd' 'Chinchwad Gaon Road' 'Shirur' 'Mangdewadi'
 'Madhav Nagar' 'Dapodi' 'Daund' 'Chinchwad Station Road' 'Sinhagad Fort'
 'Chikali Road' 'Lavasa' 'Wadki' 'Raigad District' 'Hinjewadi Phase 1'
 'konark avenue 9' 'Navi Peth' 'Ambegaon Road' 'Parvati Gaon'
 'Pimpri Chinchwad' 'Kalwad Area' 'Bund Garden Road' 'Pradhikaran Nigdi'
 'Ambegaon Pathar' 'Kamshet' 'Sun City Road' 'Bhairav Nagar' 'Bebadohal'
 'Rihe' 'Kondhwa Bk' 'Sus Road' 'Karjat Kashele Khandas Road' 'Sathe Wasti'
 'Mangaon' 'Walha Railway StationSukalwadi Road' 'Tadiwala Road'
 'Parandwadi Road' 'Rahatani Rajgad Colony' 'Dange Chowk Road'
 'New DP Road' 'Aundh Road' 'Hanuman Nagar' 'Perugate' 'Swaraj Nagari'
 'Vadgaon Maval' 'Pune Station' 'Wadgaon Shinde Road' 'Sakore Nagar'
 'Mundhwa Manjari Road' 'Wakad Chowk Road' 'Yavat' 'Nana Peth'
 'Alandi Road' 'Kasar Amboli' 'Vishal Nagar' 'Tukai Darshan'
 'Keshav Nagar Road' 'Sanjay Park' 'Urbangram Kirkatwadi Road'
 'Thite Nagar' 'NIBM Post Office Road' 'pune saswad road'
 'Nilanjali Society' 'Sant Nagar Lohegoan' 'Anand Nagar' 'Phaltan'
 'Kanhephata' 'Satavwadi' 'MulshiPaud Road' 'Pune Bengaluru Highway'
 'Dhanakwadi' 'Raje Shivaji Nagar PimpriChinchwad' 'Mangaldas Road'
 'Burhani Colony Road' 'Manohar Nagar' 'Swargate' 'Katarkhadak'
 'Trimurti Vihar' 'paud' 'Pathare Vasti Road' 'Chintamani nagar'
 'Kamgar Nagar PimpriChinchwad' 'Chincholi Dehu Road' 'Nighoje'
 'Yashwant nagar' 'Kendriya Vihar Road PimpriChinchwad'
 'Wakad Hinjewadi Road' 'Dattanagar' 'Magarpatta City' 'Omkar Colony Road'
 'Shankar Sheth Road' 'Kunal Icon Road' 'Nanded Phata'
 'Pimpri Kalewadi Link Road' 'Kalas'
 'Kumar aangan society opposite shah hospital Yerwada Pune 411006'
 'Hadapsar Saswad Jejuri Road'
 'Chikhali Pimpri Chinchwad New Town Development Authority' 'Shirwal'
 'Nigdi Sector 21' 'Vighnaharta Nagar' 'Old Mumbai Pune Highway'
 'Bijali Nagar PimpriChinchwad' 'Ghorpadi' 'Hinjawadi Phase 3'
 'Kedgaon Station Road' 'Somwar Peth' 'Khandve Nagar' 'khese park'
 'Talwade' 'Kurkum MIDC' 'Mangal Nagar' 'Nehru Nagar' 'Papde Wasti'
 'Kambre Kd Deshmukhwadi Road' 'Nagpur Chal' 'Ajmera colony' 'New Sangavi'
 'Krishnanagar Road' 'Sunita Nagar' 'Chakan Talegaon Road'
 'Vastu Udyog Road' 'Jambhulwadi' 'Dattavadi' 'Chikhali Road' 'Narhe Road'
 'north hadapsar' 'Gadital' 'National Highway 48' 'Dhankawadi Road'
 'Sun City' 'Pratik Nagar' 'Sukhsagar Nagar' 'Kad Nagar' 'Phase 3 Pune'
 'Wadgaon Budruk' 'Laxmi Nagar' 'Bavdhan Khurd' 'PuneSatara Road' 'Bopkhel'
 'Baner Gaon' 'Varanasi Society Internal Road' 'Guruwar Peth' 'hinjawadi'
 'Askarwadi' 'Devachi Urli' 'Pune Link Road' 'Vijay Nagar'
 'Ganeshkhind Road' 'Kolhewadi' nan 'Hinjewadi Phase 2'
 'Gera Emerald City Road' 'DSK Road' 'Bhumkar Bridge'
 'Hinjewadi Phase 2 Road' 'Malwadi' 'Satar Nagar' 'Pargaon'
 'Naigaon Peth Road' 'Manjari Khurd' 'Wadagaon Road' 'Kolwadi'
 'Raikar Mala Road' 'Hadapsar Tukai Nagar' 'Padmavati' 'Nanded'
 'MIT College Road' 'panchwati' 'Dombewadi Road' 'Gulab Nagar Pune'
 'wanwari' 'Mukund Nagar' 'Bharati Vidyapeeth' 'Gultekdi' 'karvenagar'
 'Shankarseth Road' 'Indira Nagar' 'Purnanagar' 'shahu nagar'
 'NIBM Junction' 'Walvekar Nagar' 'Shukrawar Peth' 'SHIVAJI HSG SOC'
 'Pingale Wasti' 'JM Road' 'Mohammed wadi' 'Pan Card Road' 'Theur'
 'Upper Indira Nagar' 'Samarth Colony' 'Ram Nagar' 'Ingawale Nagar'
 'Tungarli' 'Patwardhan Baug Road' 'Baner Highway Side Road'
 'Lokmanya Nagar' 'DSK Vishwa Road' 'Meeta Nagar' 'Mahatma Society'
 'Kedari Nagar' 'Amanora Park Town' 'Gujarat Colony Road' 'Old Mumbai Road'
 'Kothrud Bus Stand Road' 'Pimple Nilakh Road' 'Laxman Nagar'
 'Law College Rd' 'Shedge Vasti PimpriChinchwad'
 'Bhatewara Nagar Chinchwad' 'Mohan Nagar']

In [17]:
# one hot encoding
print(df['neworold'].describe())           #All present
print("\n")
print(df['neworold'].unique())

count      29681
unique         3
top       Resale
freq       21222
Name: neworold, dtype: object


['New' 'Resale' 'neworold' nan]

In [18]:
#done
# numeric woould be good
print(df['opensides'].describe())              # take away : here replace Nan with 1
print("\n")
print(df['opensides'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['opensides'] is pd.np.nan:
        df.set_value(counter,'opensides','1') 
    counter += 1
#print(df['opensides'])

count     8438
unique       5
top          1
freq      3191
Name: opensides, dtype: object


['2' nan '3' '1' '4' 'opensides']

In [19]:
#binary or one hot
print(df['overlooking'].describe())              # take away : here replace Nan with random
print("\n")
print(df['overlooking'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['overlooking'] is pd.np.nan:
        df.set_value(counter,'overlooking','Random') 
    counter += 1
#print(df['overlooking'])

count           13560
unique             16
top       Garden View
freq             3442
Name: overlooking, dtype: object


['Road View' nan 'Garden View, Pool View, Road View'
 'Corner, Garden View, Road View' 'Road View, Garden View'
 'Corner, Garden View, Pool View, Road View' 'Corner' 'Corner, Garden View'
 'Road View, Corner' 'Garden View' 'Pool View, Garden View'
 'Corner, Pool View, Road View' 'Pool View' 'Road View, Pool View'
 'Pool View, Corner' 'overlooking' 'Corner, Garden View, Pool View']

In [20]:
# one hot encoding
print(df['ownership'].describe())               # take away : here replace Nan with Random
print("\n")
print(df['ownership'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['ownership'] is pd.np.nan:
        df.set_value(counter,'ownership','Random') 
    counter += 1
#print(df['ownership'])

#  drop this

count        22802
unique           5
top       Freehold
freq         20734
Name: ownership, dtype: object


['Co-Operative Society' 'Freehold' nan 'Power of Attorney' 'ownership'
 'Leasehol']

In [21]:
# binary 
print(df['possesiondate'].describe())            # take away : here replace Nan with Now
print("\n")
print(df['possesiondate'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['possesiondate'] is pd.np.nan:
        df.set_value(counter,'possesiondate','Now') 
    counter += 1
#print(df['possesiondate'])

count         3450
unique          52
top       Dec 2018
freq          1048
Name: possesiondate, dtype: object


[nan 'Nov 2019' 'Mar 2018' 'Dec 2018' 'Dec 2019' 'Jul 2019' 'Dec 2020'
 'Dec 2021' 'Sep 2018' 'Jun 2018' 'Apr 2019' 'Apr 2018' 'Aug 2018'
 'Sep 2020' 'Dec 2025' 'Oct 2018' 'Mar 2020' 'Mar 2019' 'Jul 2018'
 'Jun 2019' 'Nov 2018' 'Aug 2020' 'Dec 2022' 'Sep 2019' 'May 2019'
 'May 2018' 'Feb 2019' 'Jan 2019' 'Jan 2018' 'Feb 2018' 'Feb 2020'
 'possesiondate' 'Sep 2021' 'Aug 2019' 'Oct 2019' 'Jun 2021' 'Oct 2022'
 'Jun 2020' 'Mar 2021' 'Nov 2021' 'Sep 2022' 'Jul 2020' 'Nov 2020'
 'Dec 2023' 'Oct 2021' 'Jul 2021' 'Jan 2020' 'Feb 2021' 'May 2020'
 'Aug 2021' 'Feb 2022' 'Mar 2022' 'May 2021']

In [22]:
# target variable
print(df['price'].describe())                    #Al present
print("\n")
print(df['price'].unique())

count       29681
unique       3342
top       7500000
freq          637
Name: price, dtype: object


['27000000' '7610050' '4100000' ..., '1665000' '1710000' '1755000']

In [23]:
# I think it can create data leakage
print(df['pricepersquare'].describe())              #All present
print("\n")
print(df['pricepersquare'].unique())

count                29681
unique                7086
top       ₹ 10,000/ sq ft
freq                   397
Name: pricepersquare, dtype: object


['₹ 16,759/ sq ft ' '₹ 5,950/ sq ft ' '₹ 6,119/ sq ft ' ...,
 '₹ 13,781/ sq ft ' '₹ 10,501/ sq ft ' '₹ 461/ sq ft ']

In [24]:
# without a doubt binary 
print(df['projectname'].describe())             # take away : here replace Nan with random
print("\n")
print(df['projectname'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['projectname'] is pd.np.nan:
        df.set_value(counter,'projectname','Random') 
    counter += 1
#print(df['projectname'])
# drop this...

count                           19157
unique                           3591
top       Builder Luxurious Apartment
freq                             1128
Name: projectname, dtype: object


['Bhansali Prive Rio' 'Goel Ganga Platino' 'Vilas Javdekar Yashwin' ...,
 'Surya Blossom N Springs' 'Suraj Mahal' 'Builder kamal bag society']

In [25]:
#numeric just drop feet
print(df['roadfaceing'].describe())               # take away : here replace Nan with '-999 feet'
print("\n")
print(df['roadfaceing'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['roadfaceing'] is pd.np.nan:
        df.set_value(counter,'roadfaceing','-999 feet') 
    counter += 1
#print(df['roadfaceing'])

#Drop  or Normalize

count        5131
unique         84
top       20 feet
freq          722
Name: roadfaceing, dtype: object


['40 feet' nan '60 feet' '25 feet' '50 feet' '20 feet' '100 feet' '30 feet'
 '15 feet' '80 feet' '10 feet' '120 feet' '45 feet' '36 feet' '32 feet'
 '90 feet' '150 feet' '200 feet' '7 feet' '180 feet' '35 feet' '65 feet'
 '219 feet' '196 feet' '209 feet' 'roadfaceing' '70 feet' '18 feet'
 '98 feet' '250 feet' '42 feet' '38 feet' '400 feet' '6 feet' '131 feet'
 '34 feet' '48 feet' '55 feet' '19 feet' '164 feet' '328 feet' '8 feet'
 '26 feet' '29 feet' '110 feet' '16 feet' '350 feet' '9 feet' '22 feet'
 '656 feet' '12 feet' '39 feet' '59 feet' '300 feet' '82 feet' '72 feet'
 '271 feet' '295 feet' '23 feet' '68 feet' '49 feet' '14 feet' '160 feet'
 '27 feet' '13 feet' '66 feet' '262 feet' '17 feet' '1 feet' '984 feet'
 '52 feet' '54 feet' '1000 feet' '2 feet' '500 feet' '780 feet' '85 feet'
 '5 feet' '24 feet' '170 feet' '11 feet' '6561 feet' '492 feet' '190 feet'
 '114 feet']

In [26]:
#one hot or binary
print(df['status'].describe())                     # take away : here replace Nan with Ready to move
print("\n")
print(df['status'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['status'] is pd.np.nan:
        df.set_value(counter,'status','Ready to move') 
    counter += 1
#print(df['status'])

count                         28850
unique                           12
top       Ready to move,Unfurnished
freq                          13661
Name: status, dtype: object


['Ready to move' 'Ready to move,Unfurnished' 'Under Construction'
 'Ready to move,Furnished' 'Unfurnished' 'Ready to move,Semi-Furnished'
 'Under Construction,Semi-Furnished' nan 'Under Construction,Unfurnished'
 'Semi-Furnished' 'status' 'Furnished' 'Under Construction,Furnished']

In [27]:
#numeric
print(df['totalfloor'].describe())               # take away : here replace Nan with Ready to current floor   
print("\n")
print(df['totalfloor'].unique())


counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['totalfloor'] is pd.np.nan:
        df.set_value(counter,'totalfloor',df.iloc[counter]['floor'])
    if df.iloc[counter]['totalfloor'] == 'Gr':
        df.set_value(counter,'totalfloor','0')       # 0 - Gr
    counter += 1
#print(df['totalfloor'])

count     19408
unique       35
top          12
freq       4109
Name: totalfloor, dtype: object


['6' nan '9' '10' '15' '27' '5' '12' '21' '3' '4' '13' '23' '24' '16' '31'
 '14' '19' '22' '18' '7' '2' '11' '20' '1' '8' '25' '28' '34' '30' '17'
 'totalfloor' '29' '26' '35' '32']

In [28]:
#done
print(df['Lift Available'].describe())        # take away : here replace Nan with Ready to No   
print("\n")
print(df['Lift Available'].unique())


counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Lift Available'] is pd.np.nan:
        df.set_value(counter,'Lift Available','No') 
    counter += 1
#print(df['Lift Available'])

count     29680
unique        2
top         Yes
freq      23535
Name: Lift Available, dtype: object


['Yes' 'No' nan]

In [29]:
#done
print(df['Car Parking'].describe())                # take away : here replace Nan with No
print("\n")
print(df['Car Parking'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Car Parking'] is pd.np.nan:
        df.set_value(counter,'Car Parking','No') 
    counter += 1
#print(df['Car Parking'])

count     25385
unique        1
top         Yes
freq      25385
Name: Car Parking, dtype: object


['Yes' nan]

In [30]:
#done
print(df['Power Backup'].describe())               # take away : here replace Nan with No
print("\n")
print(df['Power Backup'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Power Backup'] is pd.np.nan:
        df.set_value(counter,'Power Backup','No') 
    counter += 1
#print(df['Power Backup'])

count     29680
unique        2
top         Yes
freq      23551
Name: Power Backup, dtype: object


['Yes' 'No' nan]

In [33]:
#done
print(df['24 X 7 Security'].describe())            # take away : here replace Nan with No
print("\n")
print(df['24 X 7 Security'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['24 X 7 Security'] is pd.np.nan:
        df.set_value(counter,'24 X 7 Security','No') 
    counter += 1
#print(df['24 X 7 Security'])

count     29682
unique        2
top         Yes
freq      24781
Name: 24 X 7 Security, dtype: object


['No' 'Yes']

In [34]:
#done
print(df['Children\'s play area'].describe())          # take away : here replace Nan with No
print("\n")
print(df['Children\'s play area'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Children\'s play area'] is pd.np.nan:
        df.set_value(counter,'Children\'s play area','No') 
    counter += 1
#print(df['Children\'s play area'])

count     29682
unique        2
top         Yes
freq      15161
Name: Children's play area, dtype: object


['No' 'Yes']

In [35]:
#done
print(df['Vaastu Compliant'].describe())          # take away : here replace Nan with No
print("\n")
print(df['Vaastu Compliant'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Vaastu Compliant'] is pd.np.nan:
        df.set_value(counter,'Vaastu Compliant','No') 
    counter += 1
#print(df['Vaastu Compliant'])

count     17194
unique        1
top         Yes
freq      17194
Name: Vaastu Compliant, dtype: object


[nan 'Yes']

In [36]:
#done
print(df['Club House'].describe())        # take away : here replace Nan with No      
print("\n")
print(df['Club House'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Club House'] is pd.np.nan:
        df.set_value(counter,'Club House','No') 
    counter += 1
#print(df['Club House'])

count     29680
unique        2
top         Yes
freq      16633
Name: Club House, dtype: object


['No' 'Yes' nan]

In [37]:
#done
print(df['Gymnasium'].describe())       # take away : here replace Nan with No  
print("\n")
print(df['Gymnasium'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Gymnasium'] is pd.np.nan:
        df.set_value(counter,'Gymnasium','No') 
    counter += 1
#print(df['Gymnasium'])

count     29680
unique        2
top         Yes
freq      17822
Name: Gymnasium, dtype: object


['No' 'Yes' nan]

In [38]:
#done
print(df['Swimming Pool'].describe())       # take away : here replace Nan with No
print("\n")
print(df['Swimming Pool'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Swimming Pool'] is pd.np.nan:
        df.set_value(counter,'Swimming Pool','No') 
    counter += 1
#print(df['Swimming Pool'])

count     18592
unique        1
top         Yes
freq      18592
Name: Swimming Pool, dtype: object


[nan 'Yes']

In [39]:
#done
print(df['Sports Facility'].describe())            # take away : here replace Nan with No
print("\n")
print(df['Sports Facility'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Sports Facility'] is pd.np.nan:
        df.set_value(counter,'Sports Facility','No') 
    counter += 1
#print(df['Sports Facility'])

count     29680
unique        2
top          No
freq      24415
Name: Sports Facility, dtype: object


['No' 'Yes' nan]

In [40]:
#done
print(df['Indoor Games'].describe())        # take away : here replace Nan with No
print("\n")
print(df['Indoor Games'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Indoor Games'] is pd.np.nan:
        df.set_value(counter,'Indoor Games','No') 
    counter += 1
#print(df['Indoor Games'])

count     6236
unique       1
top        Yes
freq      6236
Name: Indoor Games, dtype: object


['Yes' nan]

In [41]:
#done
print(df['Jogging Track'].describe())            # take away : here replace Nan with No
print("\n")
print(df['Jogging Track'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Jogging Track'] is pd.np.nan:
        df.set_value(counter,'Jogging Track','No') 
    counter += 1
#print(df['Jogging Track'])

count     29680
unique        2
top         Yes
freq      17765
Name: Jogging Track, dtype: object


['No' 'Yes' nan]

In [42]:
#done
print(df['Maintenance Staff'].describe())       # take away : here replace Nan with No
print("\n")
print(df['Maintenance Staff'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Maintenance Staff'] is pd.np.nan:
        df.set_value(counter,'Maintenance Staff','No') 
    counter += 1
#print(df['Maintenance Staff'])

count     7281
unique       1
top        Yes
freq      7281
Name: Maintenance Staff, dtype: object


[nan 'Yes']

In [43]:
#done
print(df['Intercom'].describe())             # take away : here replace Nan with No
print("\n")
print(df['Intercom'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Intercom'] is pd.np.nan:
        df.set_value(counter,'Intercom','No') 
    counter += 1
#print(df['Intercom'])

count     8819
unique       1
top        Yes
freq      8819
Name: Intercom, dtype: object


['Yes' nan]

In [44]:
#done
print(df['Golf Course'].describe())            # take away : here replace Nan with No
print("\n")
print(df['Golf Course'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Golf Course'] is pd.np.nan:
        df.set_value(counter,'Golf Course','No') 
    counter += 1
#print(df['Golf Course'])

count     1016
unique       1
top        Yes
freq      1016
Name: Golf Course, dtype: object


[nan 'Yes']

In [45]:
#done
print(df['Cafeteria'].describe())                # take away : here replace Nan with No
print("\n")
print(df['Cafeteria'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Cafeteria'] is pd.np.nan:
        df.set_value(counter,'Cafeteria','No') 
    counter += 1
#print(df['Cafeteria'])

count     2169
unique       1
top        Yes
freq      2169
Name: Cafeteria, dtype: object


[nan 'Yes']

In [46]:
#done
print(df['Rain Water Harvesting'].describe())        # take away : here replace Nan with No
print("\n")
print(df['Rain Water Harvesting'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Rain Water Harvesting'] is pd.np.nan:
        df.set_value(counter,'Rain Water Harvesting','No') 
    counter += 1
#print(df['Rain Water Harvesting'])

count     16117
unique        1
top         Yes
freq      16117
Name: Rain Water Harvesting, dtype: object


[nan 'Yes']

In [47]:
#done
print(df['Staff Quarter'].describe())         # take away : here replace Nan with No
print("\n")
print(df['Staff Quarter'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Staff Quarter'] is pd.np.nan:
        df.set_value(counter,'Staff Quarter','No') 
    counter += 1
#print(df['Staff Quarter'])

count     10098
unique        1
top         Yes
freq      10098
Name: Staff Quarter, dtype: object


[nan 'Yes']

In [48]:
#done
print(df['Multipurpose Room'].describe())       # take away : here replace Nan with No
print("\n")
print(df['Multipurpose Room'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Multipurpose Room'] is pd.np.nan:
        df.set_value(counter,'Multipurpose Room','No') 
    counter += 1
#print(df['Multipurpose Room'])

count     6923
unique       1
top        Yes
freq      6923
Name: Multipurpose Room, dtype: object


[nan 'Yes']

In [49]:
#done
print(df['Landscaped Gardens'].describe())       # take away : here replace Nan with No
print("\n")
print(df['Landscaped Gardens'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Landscaped Gardens'] is pd.np.nan:
        df.set_value(counter,'Landscaped Gardens','No') 
    counter += 1
#print(df['Landscaped Gardens'])

count     29680
unique        2
top         Yes
freq      15187
Name: Landscaped Gardens, dtype: object


['Yes' 'No' nan]

In [50]:
#done
print(df['Shopping Mall'].describe())      # take away : here replace Nan with No
print("\n")
print(df['Shopping Mall'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Shopping Mall'] is pd.np.nan:
        df.set_value(counter,'Shopping Mall','No') 
    counter += 1
#print(df['Shopping Mall'])

count     8122
unique       1
top        Yes
freq      8122
Name: Shopping Mall, dtype: object


[nan 'Yes']

In [51]:
#done
print(df['School'].describe())       # take away : here replace Nan with No
print("\n")
print(df['School'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['School'] is pd.np.nan:
        df.set_value(counter,'School','No') 
    counter += 1
#print(df['School' ])

count     8086
unique       1
top        Yes
freq      8086
Name: School, dtype: object


[nan 'Yes']

In [52]:
#done
print(df['Hospital'].describe())    # take away : here replace Nan with No
print("\n")
print(df['Hospital'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Hospital'] is pd.np.nan:
        df.set_value(counter,'Hospital','No') 
    counter += 1
#print(df['Hospital'])

count     7999
unique       1
top        Yes
freq      7999
Name: Hospital, dtype: object


[nan 'Yes']

In [53]:
#done
print(df['ATM'].describe())        # take away : here replace Nan with No
print("\n")
print(df['ATM'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['ATM'] is pd.np.nan:
        df.set_value(counter,'ATM','No') 
    counter += 1
#print(df['ATM'])

count     8381
unique       1
top        Yes
freq      8381
Name: ATM, dtype: object


[nan 'Yes']

In [54]:
#done
print(df['AC'].describe())           # take away : here replace Nan with No
print("\n")
print(df['AC'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['AC'] is pd.np.nan:
        df.set_value(counter,'AC','No') 
    counter += 1
#print(df['AC'])

count     8200
unique       2
top         No
freq      6593
Name: AC, dtype: object


['No' nan 'Yes']

In [55]:
#done
print(df['Wardrobe'].describe())         # take away : here replace Nan with No
print("\n")
print(df['Wardrobe'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Wardrobe'] is pd.np.nan:
        df.set_value(counter,'Wardrobe','No') 
    counter += 1
#print(df['Wardrobe'])

count     8200
unique       2
top         No
freq      4177
Name: Wardrobe, dtype: object


['No' nan 'Yes']

In [56]:
#done
print(df['TV'].describe())              # take away : here replace Nan with No
print("\n")
print(df['TV'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['TV'] is pd.np.nan:
        df.set_value(counter,'TV','No') 
    counter += 1
#print(df['TV'])

count     8200
unique       2
top         No
freq      7101
Name: TV, dtype: object


['No' nan 'Yes']

In [57]:
#done
print(df['Refrigerator'].describe())       # take away : here replace Nan with No
print("\n")
print(df['Refrigerator'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Refrigerator'] is pd.np.nan:
        df.set_value(counter,'Refrigerator','No') 
    counter += 1
#print(df['Refrigerator'])

count     8200
unique       2
top         No
freq      6391
Name: Refrigerator, dtype: object


['No' nan 'Yes']

In [58]:
#done
print(df['Sofa'].describe())            # take away : here replace Nan with No
print("\n")
print(df['Sofa'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Sofa'] is pd.np.nan:
        df.set_value(counter,'Sofa','No') 
    counter += 1
#print(df['Sofa'])

count     8200
unique       2
top         No
freq      4525
Name: Sofa, dtype: object


['No' nan 'Yes']

In [59]:
#done
print(df['Washing Machine'].describe())       # take away : here replace Nan with No
print("\n")
print(df['Washing Machine'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Washing Machine'] is pd.np.nan:
        df.set_value(counter,'Washing Machine','No') 
    counter += 1
#print(df['Washing Machine'])

count     1401
unique       1
top        Yes
freq      1401
Name: Washing Machine, dtype: object


[nan 'Yes']

In [60]:
#done
print(df['Wifi'].describe())        # take away : here replace Nan with No
print("\n")
print(df['Wifi'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Wifi'] is pd.np.nan:
        df.set_value(counter,'Wifi','No') 
    counter += 1
#print(df['Wifi'])

count     8200
unique       2
top         No
freq      7481
Name: Wifi, dtype: object


['No' nan 'Yes']

In [61]:
#done
print(df['Microwave'].describe())        # take away : here replace Nan with No
print("\n")
print(df['Microwave'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Microwave'] is pd.np.nan:
        df.set_value(counter,'Microwave','No') 
    counter += 1
#print(df['Microwave'])

count     350
unique      1
top       Yes
freq      350
Name: Microwave, dtype: object


[nan 'Yes']

In [62]:
#done
print(df['Dining Table'].describe())       # take away : here replace Nan with No
print("\n")
print(df['Dining Table'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Dining Table'] is pd.np.nan:
        df.set_value(counter,'Dining Table','No') 
    counter += 1
#print(df['Dining Table'])

count     8200
unique       2
top         No
freq      5733
Name: Dining Table, dtype: object


['No' nan 'Yes']

In [63]:
#done
print(df['Gas connection'].describe())    # take away : here replace Nan with No
print("\n")
print(df['Gas connection'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['Gas connection'] is pd.np.nan:
        df.set_value(counter,'Gas connection','No') 
    counter += 1
#print(df['Gas connection'])

count     8200
unique       2
top         No
freq      5285
Name: Gas connection, dtype: object


['Yes' nan 'No']

In [64]:
#done
print(df['BED'].describe())           # take away : here replace Nan with No
print("\n")
print(df['BED'].unique())

counter = 0
for row in df.itertuples():                 
    if  df.iloc[counter]['BED'] is pd.np.nan:
        df.set_value(counter,'BED','No') 
    counter += 1
#print(df['BED'])

count     8200
unique       2
top        Yes
freq      4396
Name: BED, dtype: object


['No' nan 'Yes']

In [65]:
#pd.to_numeric(df.columns)
#pd.get_dummies(df)
# runs till here without errors

In [67]:
df.to_pickle("understand")